@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  :root {
    color-scheme: dark;
    --primary-bg: #181818;
    --secondary-bg: #202020;
    --primary-text: #ffffffcf;
    --secondary-text: #9b9b9b;
    --grey: #333333;
  }

  .header {
    app-region: drag;
  }
  * {
    scrollbar-color: var(--grey) transparent;
  }
}
